#our_products h2 {
        margin: 30px;
        text-align: center;
        font-size: 45px;
        text-transform: uppercase;
        color: var(--cor2)
}

.capaDoDisco,
.capaDoDisco2 {
        height: 235px;
        width: 260px;
}

.div_produto h3 {
        text-transform: uppercase;
        text-align: center;
        color: var(--cor2);
        font-size: 22px;
        font-weight: bolder;
        height: 50px;
}

.div_produto h4 {
        height: 50px;
        text-align: center;
}

.div_produto .price {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--cor2);
}

.price .priceDiv del {
        color: var(--cor3);
}

.price .priceDiv p {
        color: var(--cor5);
}

.originalPrice {
        font-size: 40px;
}

.btn_products {
        width: 100%;
        background-color: var(--cor2);
        color: var(--cor6)
}

.btn_products:hover {
        background-color: var(--cor5);
        color: var(--cor6)
}

