#our_products h2 {
        margin: 30px;
        text-align: center;
        font-size: 45px;
        text-transform: uppercase;
        color: var(--cor2)
}

.capaDoDisco2 {
        height: 235px;
        width: 260px;
}

.div_produto h3 {
        text-transform: uppercase;
        text-align: center;
        color: var(--cor2);
        font-size: 22px;
        font-weight: bolder;
}

