#cabecalho {
    background-color: var(--cor3);
}

.logotipo h1{
    text-transform: uppercase;
}

.logo_span {
    color: var(--cor2);
}

.navLi {
    font-size: 30px;
}

.navLi_a {
    text-decoration: none;
    color: var(--cor1);
}

.navLi_a:hover {
    color: var(--cor2);
}