:root {
    --cor1: #000;
    --cor2: #8854d0;
    --cor3: #a5b1c2
}

* {
    font-family: 'DynaPuff', cursive;
}

#cabecalho {
    background-color: var(--cor3);
}


#cabecalho .container .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-produtos .nav-link.active:hover {
    color: var(--cor2);

}

#cabecalho .container .nav .nav-link.active {
    background-color: var(--cor2);
    color: var(--cor1);
}

.text-colored {
    color: var(--cor2);
}

.nav-produtos .nav-link:hover {
    color:var(--cor2)
}

.nav-produtos .nav-link.active {
    background-color: var(--cor2);
    color: var(--cor1);
}

/* font-family: 'Bruno Ace', cursive;
font-family: 'DynaPuff', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif; */

