:root {
    --cor2: #8854d0;
}

* {
    font-family: 'DynaPuff', cursive;
}

#cabecalho {
    background-color: #a5b1c2;
}


/* font-family: 'Bruno Ace', cursive;
font-family: 'DynaPuff', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif; */

