:root {
    --cor1: #000;
    --cor2: #8854d0;
    --cor3: #a5b1c2
}

* {
    font-family: 'DynaPuff', cursive;
}

#cabecalho {
    background-color: var(--cor3);
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}


@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
    transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
transform: translateX(0);
}


/* font-family: 'Bruno Ace', cursive;
font-family: 'DynaPuff', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif; */

